/* Set defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Set container properties
full width of page, min-height relative to page, background gradiant, text colour, padding relative to surrounding elements */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #423221, #546778);
    color: #fff;
    padding: 10px;
}
/* set width of calculator div element with a max width relative to screen size and a margin left - top */
.calculator {
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1 {
    font-size: 60px;
}

.calculator h1 span {
    color: #ffff76;
}

.input-box {
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
